/*修改element-ui一些样式*/
[class^=el-icon-] {
    vertical-align: middle;
}
/* 暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461 */
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
#menu .el-tabs__header.is-left {
    margin-right: 0;
    padding-bottom: 60px;
}
#menu .el-menu-item {
    -webkit-transition: border-color .3s,background-color .3s,color .3s, -webkit-box-shadow .2s;
    transition: box-shadow .2s, border-color .3s,background-color .3s,color .3s;
}
#menu .el-menu-item:hover {
    background-color: #fff;
    box-shadow: 0 0 8px 2px #eee;
}
.el-popover {
    padding: 0;
}
.el-menu-item, .el-submenu__title {
    height: 42px;
    line-height: 42px;
}
.el-submenu .el-menu-item {
    height: 42px;
    line-height: 42px;
}
.el-menu-item.is-active {
    border-right: 3px solid #409EFF;
}
.el-form-item {
    margin-bottom: 15px;
}
.el-popper[x-placement^=bottom] {
    margin-top: 6px;
}
/* 面包屑导航 */
.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.breadcrumb .el-breadcrumb {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/* 自定义 */
.i-popover {
    padding: 5px 15px;
}
.i-input {
    width: 200px;
}
.page-panel {
    padding: 10px 0 0 10px;
    background: rgb(238, 238, 238);
}
.form-edit-btn {
    margin-right: 5px;
}